
# Servidor
PORT=3000
NODE_ENV=development

# Base de datos
DB_USER=sa
DB_PASSWORD=creatos1
DB_SERVER=DESKTOP-G2I28UV
DB_NAME=utasoft

# JWT
JWT_SECRET=your-secret-key-change-this

# MQTT (opcional)
MQTT_HOST=broker.emqx.io
MQTT_PORT=1883
MQTT_PROTOCOL=mqtt
MQTT_USERNAME=
MQTT_PASSWORD=
