modules = ["nodejs-20"]
run = "npx expo start --android"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npx expo start --android"]

[workflows]

[[workflows.workflow]]
name = "Run"
author = 4584120

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 8082

[[ports]]
localPort = 8083
externalPort = 3001
