modules = ["nodejs-20", "cpp-clang14", "web"]
run = "npm start"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm start"]
deploymentTarget = "cloudrun"
ignorePorts = false

[env]
PORT = "3000"
NODE_ENV = "production"

[processes]
dev = "npm run dev"
seed-db = "node ./scripts/seed-db.js"
backend = "node server.js"
frontend = "npx expo start --web"

[unitTest]
language = "nodejs"

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 4584120

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[workflows.workflow]]
name = "Seed Database"
author = 40243624

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node ./scripts/seed-db.js"

[[workflows.workflow]]
name = "Run Backend Only"
author = 40243624

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "node server.js"

[[workflows.workflow]]
name = "Run Frontend Only"
author = 40243624

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npx expo start --web"

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 3000
externalPort = 3000

[[ports]]
localPort = 8082

[[ports]]
localPort = 8083
externalPort = 3001
